<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gallery</title>


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">




</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- 如果要圖片logo可以從這裡添加 -->
        <!-- <img src="img/logo.png" alt=""> -->
              <!----這邊裝了個一相機的icon 不要可以拿掉-->
        <i class="bi bi-camera"></i>
        <h1>Back</h1>
      </a>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="300">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 text-center">
            <h6>依照上傳時間做高斯模糊</h6> 
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->


    <!--test-->
    {% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}">
    </div>
    {% endif %}
    <!--test end-->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7 col-7 mx-1">
            <!---  col-7 mx-1 左右 spacer * .25 -->
            <div class="gallery-item">
              <img src="/img/gallery/gallery-1.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item">
              <img src="img/gallery/gallery-2.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-2.jpg" title="Gallery 2" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-3.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-3.jpg" title="Gallery 3" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-4.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-4.jpg" title="Gallery 4" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-5.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-5.jpg" title="Gallery 5" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-6.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-6.jpg" title="Gallery 6" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-7.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-7.jpg" title="Gallery 7" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-8.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-8.jpg" title="Gallery 8" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-9.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-9.jpg" title="Gallery 9" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-10.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-10.jpg" title="Gallery 10" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-11.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-11.jpg" title="Gallery 11" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-12.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-12.jpg" title="Gallery 12" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-13.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-13.jpg" title="Gallery 13" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-14.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-14.jpg" title="Gallery 14" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-15.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-15.jpg" title="Gallery 15" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-1 col-lg-3 col-md-4 col-sm-7  col-7 mx-1">
            <div class="gallery-item ">
              <img src="img/gallery/gallery-16.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="img/gallery/gallery-16.jpg" title="Gallery 16" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                
              </div>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->

 

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>
  
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static',  filename='js/main.js' ) }}"></script>
</body>

</html>

  <!-- =======================================================
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  ======================================================== -->