/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*.container-fluid {
    background-color: #808080;
  }*/
  .bg {
    background-color: #808080;
  }
  .title{
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 6em;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
  }
/*custom*/
.container-fluid .btn2 {  /*上船按鈕*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #343434;  /*背景色*/
    color: white;  /*沒有選擇檔案 字體顏色*/
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
/* Style the button and place it in the middle of the container/image */
.container-fluid .btn {  /*提交按鈕*/
  margin-top: 30px;  /*跟上傳按鈕距離多遠*/
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #343434;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* Make the image responsive */
.container-fluid img {
    width: 100%;
    height: auto;
  }
/*左右保留距離*/
.container-fluid .frame{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}
  
.container-fluid .galleryimg{
  
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 0%;
  margin: 40px 0px -25px 0px;

}
.container-fluid .btn:hover {
  background-color: black;
}


/*使用 gx-5 gy-5*/


.gx-5 {
  --bs-gutter-x: 3rem;
}

.gy-5 {
  --bs-gutter-y: 3rem;  
}

/*修正打開來的顯示窗*/

.glightbox-clean .gdesc-inner {
  padding: 0px 35% 0px 35%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  /* 底色設定成跟壓黑的顏色一樣*/
  /*壓黑的css: glightbox */
}

/*字形改這邊*/
.glightbox-clean .gslide-title {
  background-color: transparent;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  color: #343434;
  margin-bottom: 19px;
  line-height: 1.4em;
}


/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/


.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    
  }
  
  .gallery .gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
  
  .gallery .gallery-links .preview-link,
  .gallery .gallery-links .details-link {
    font-size: 20px;
    /*color: rgba(255, 255, 255, 0.5);*/
    transition: 0.3s;
    line-height: 1.2;
    margin: 50px 15px 0 15px;
  }
  
  .gallery .gallery-links .preview-link:hover,
  .gallery .gallery-links .details-link:hover {
    color: #fff;
  }
  
  .gallery .gallery-links .details-link {
    font-size: 30px;
    line-height: 0;
  }
  
  .gallery .gallery-item:hover .gallery-links {
    opacity: 1;
  }
  
  .gallery .gallery-item:hover .preview-link,
  .gallery .gallery-item:hover .details-link {
    margin-top: 0;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .glightbox-clean .gslide-description {
    background: #343434;
  }
  
  .glightbox-clean .gslide-title {
    color: #808080;
    margin: 0;
  }
  /*-------------------
  copy from template
  
  ---------------------*/
  /*--------------------------------------------------------------
# Gallery Single Section
--------------------------------------------------------------*/
.gallery-single .portfolio-details-slider img {
    width: 100%;
  }
  
  .gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #808080;
    opacity: 1;
  }
  
  .gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  .gallery-single .swiper-button-prev,
  .gallery-single .swiper-button-next {
    width: 48px;
    height: 48px;
  }
  
  .gallery-single .swiper-button-prev:after,
  .gallery-single .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .gallery-single .swiper-button-prev:hover:after,
  .gallery-single .swiper-button-next:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  @media (max-width: 512px) {
  
    .gallery-single .swiper-button-prev,
    .gallery-single .swiper-button-next {
      display: none;
    }
  }
  .gallery-single .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
  }

  
  .gallery-single .portfolio-info h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }
  
  .gallery-single .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .gallery-single .portfolio-info ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  
  .gallery-single .portfolio-info ul strong {
    text-transform: uppercase;
    font-weight: 400;
    color: #6b7075;
    font-size: 14px;
  }
  
  .gallery-single .portfolio-info .btn-visit {
    padding: 8px 40px;
    background: var(--color-primary);
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .gallery-single .portfolio-info .btn-visit:hover {
    background: #343434;
  }
  
  .gallery-single .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .gallery-single .portfolio-description p {
    padding: 0;
  }
  
  .gallery-single .portfolio-description .testimonial-item {
    padding: 30px 30px 0 30px;
    position: relative;
    background: var(--color-secondary);
    height: 100%;
    margin-bottom: 50px;
  }
  
  .gallery-single .portfolio-description .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid #2e3133;
    float: left;
    margin: 0 10px 0 0;
  }
  
  .gallery-single .portfolio-description .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    padding-top: 20px;
  }
  
  .gallery-single .portfolio-description .testimonial-item h4 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
  }
  
  .gallery-single .portfolio-description .testimonial-item .quote-icon-left,
  .gallery-single .portfolio-description .testimonial-item .quote-icon-right {
    color: #5bd9a9;
    font-size: 26px;
    line-height: 0;
  }
  
  .gallery-single .portfolio-description .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .gallery-single .portfolio-description .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }
  
  .gallery-single .portfolio-description .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 0 0 0;
    padding: 0;
  }
  